@mixin button() {
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
    background-position: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer
}

@mixin button-guardar() {
    background-color: #bd081c;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 24px;
}