.modal {
    margin: 0px 300px 100px 450px;
    border: 1px solid $color-grey-text;
    color: $color-black;
    background-color: rgba(255, 255, 255, 1);
    border-radius: $border-radius;
    padding: 10px;
    position: fixed;
    top: 5px;
    width: $width-modal;
    .row-s6 {
        display: inline-flex;
        width: 100%;
    }
    .content-btn-thumb {
        text-align: right;
        .btn-modal {
            @include button-guardar();
        }
    }
    .icons-modal {
        color: $color-grey-text;
        cursor: pointer;
        margin: 0px 5px 0px 5px;
    }
    .title-photo {
        text-align: left;
        font-weight: bold;
        margin-top: 5px;
        color: $color-title;
        font-size: 20px;
    }
    .photo {
        width: 400px;
        height: 500px;
        margin-top: 20px;
        border-radius: 20px;
    }
    .photo-modal {
        text-align: center;
    }
    .fa-user-circle {
        color: $color-grey-text;
        margin-top: 5px;
    }
    .user-desde-modal {
        color: $color-grey-text;
        margin-left: 5px;
    }
    .btn-leer {
        text-align: center;
        width: 70px;
        height: 28px;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
    }
    .description-photo {
        color: $color-title;
        font-size: 18px;
        margin-left: 10px;
        font-family: $font;
    }
    .info-user {
        font-family: $font;
    }
    .col-modal {
        display: inline-block;
        max-width: 44%;
        width: 44%;
    }
    .align-right {
        text-align: right;
    }
}