.content-nav {
    font-family: $font;
    width: 100%;
    margin: auto;
    .fa-pinterest {
        font-size: 40px;
        color: $color-pinterest;
        margin: 0px 30px 0px 30px;
        padding: 15px;
    }
    .text-search {
        width: 700px;
        border: none;
        background-color: #efefef;
        height: 40px;
    }
    .navbar-text {
        color: $color-grey-text;
        margin: 0px 30px 26px 0px;
        cursor: pointer;
    }
    .navbar-text:hover {
        color: $color-pinterest;
        cursor: pointer;
    }
    .icon-search {
        background-color: #efefef;
        border-right: 1px solid lightgrey;
        margin: 0px 0px 14px 15px;
    }
    .fa-times {
        background-color: #efefef;
        margin-right: 15px;
    }
    .all-pin {
        margin-right: 10px;
        color: $color-grey-text;
        cursor: pointer;
    }
    .fa-angle-down {
        font-size: 27px;
        margin-right: 10px;
    }
    .nat-fox {
        border-radius: 50%;
        cursor: pointer;
        margin: 0px 0px 5px 80px;
        border: 1px solid orangered;
    }
    .user-name {
        color: $color-grey-text;
        margin: 0px 0px 25px 10px;
        cursor: pointer;
    }
}

header nav {
    border-bottom: 1px solid lightgrey;
}

header nav ul {
    list-style: none;
    overflow: hidden;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: block;
    color: $color-black;
    text-decoration: none;
}