* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

// Para que las imagenes se pongan una al lado de la otra
.container {
    //float: left;
    display: inline-block;
    width: 15%;
    padding: 10px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    .photo {
        width: 99%;
        border-radius: 20px;
        cursor: pointer;
    }
    .title-photo {
        text-align: left;
        font-weight: bold;
        margin-top: 5px;
        color: $color-title;
    }
    .description-photo {
        color: $color-title;
        font-size: 16px;
        font-family: $font;
    }
    .container-user {
        margin-top: 10px;
        font-size: 13px;
        margin-bottom: 20px;
        .hashtag {
            color: $color-grey-text;
            cursor: pointer;
        }
    }
    .content-followers {
        text-align: right;
        margin-left: 3px;
        .pined {
            font-size: 8px;
            color: $color-grey-text;
        }
    }
    .icon-user {
        margin-left: 5px;
    }
}