* {
    overflow-x: hidden;
}

// Para que las imagenes se pongan una al lado de la otra
.container {
    float: left;
    width: 20%;
    padding: 10px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    .photo {
        width: 90%;
        border-radius: 20px;
    }
    .title-photo {
        text-align: left;
        margin-left: 20px;
        font-weight: bold;
        margin-top: 5px;
        color: #434445;
    }
    .description-photo {
        color: #434445;
        font-size: 16px;
        font-family: 'Bellefair', serif;
    }
    .container-user {
        margin-top: 10px;
        font-size: 13px;
        .hashtag {
            color: gray;
            cursor: pointer;
        }
    }
}